@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.home{
  --tw-bg-opacity: 1;
  background-color: rgba(248,246,242,var(--tw-bg-opacity));
  height: 100%;
  background-size: cover;
  background-position: center;
}

.not_found{
  height: 62vh;
  justify-content: center;
  color: black;
  font-size: 36px;
  font-family: "Montserrat",Arial,Helvetica,Geneva,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1em;
  line-height: 1.2;
}

.encabezado{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* justify-content: center; */
  align-items: baseline;
  align-content: stretch;
  margin-right: 12px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.titleHome{
  /* margin-right: 15%; */
  color: black;
  font-size: 36px;
  font-family: "Montserrat",Arial,Helvetica,Geneva,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1em;
  line-height: 1.2;
}

.filters{
  background: white;
  height: 4vw;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 15%);
  font-family: "Copper Pot",serif;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-direction: row;
  flex-wrap: nowrap;
}

.filter1 {
  font-size: 13px;
  padding: 5px;
  height: 28px;
  width: 200px;
  background-color:white; 
  border-radius: 0.4vw;
  color: black;
  border-color: #bc6c25;
  margin: 20px;
  cursor: pointer;
}

.filter2 {
  font-size: 13px;
  padding: 5px;
  height: 28px;
  width: 114px;
  background-color:white; 
  border-radius: 0.4vw;
  color: black;
  border-color: #bc6c25;
  margin: 20px;
  cursor: pointer;
}

 .filter3 {
  font-size: 13px;
  padding: 5px;
  padding-left: 8px;
  height: 28px;
  width: 114px;
  background-color:white; 
  border-radius: 0.4vw;
  color: black;
  border-color: #bc6c25;
  margin: 20px;
  cursor: pointer;
}

.filter4 {
  font-size: 13px;
  padding: 5px;
  height: 28px;
  width: 120px;
  background-color:white; 
  border-radius: 0.4vw;
  color: black;
  border-color: #bc6c25;
  margin: 20px;
  cursor: pointer;
}

.buttonCreate {
  font-size: 15px;
  height: 31px;
  width: 120px;
  background-color: #606c38;
  font-family: inherit;
  font-weight: 600;
  color: white;
  border-radius: 0.4vw;
  border-color: black;
  position: absolute;
  top: 4.5%;
  left: 88%;
  cursor: pointer;
  /* transition-duration: 0.4s; */
}

.buttonCreate:hover {
background-color: #283618;
color: white
}

.resetRecipes {
  font-size: 15px;
  height: 31px;
  width: 120px;
/*   font-family: inherit;
  font-weight: 600; */
  background-color: #dda15e;
  border-radius: 0.4vw;
  color: white;
  margin-left: 50px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.resetRecipes:hover {
background-color: #bc6c25;
color: white;
border-radius: 0.4vw;
border-color: black;
}