@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.landing{
  background: url("../images/background.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  /* align-items: center; */
}

.title{
  height: 7vw;
  text-align: center;
  font-size: 3vw;
  /* color: #1e2127; */
  position: absolute;
  font-family: 'Montserrat'
/*   top: 46%;
  left: 20%;
  font-family: 'Ms Madi', cursive; */
}

.landing-button{
  margin: 2px;
  padding: 4px;
  width: 140px;
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  border-radius: 0.5rem;
  border: 2px solid #dda15e;
  background-color: rgb(255, 255, 255);
  color: #dda15e;
  cursor: pointer;
  position: relative;
  top: 25%; 
}

.landing-button:hover {
  background-color: #dda15e;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
}