.searchBar{
  position: absolute;
  top: 4.5%;
  left: 78%;
}

#inputName{
  border-radius: 2px;
  height: 25px;
  width: 200px;
  margin-top: 0px;
  padding-left: 5px;
  position: absolute;
  right: 80%;
}

.buttonSearch {
  font-size: 15px;
  height: 31px;
  width: 70px;
  background-color: #dda15e;
  /* border-radius: 0.4vw; */
  color: white;
  position: absolute;
  top: 4.5%;
  left: 63%;
  cursor: pointer;
  transition-duration: 0.4s;
}

.buttonSearch:hover {
  background-color: #bc6c25;
  color: white;
}

.hide{
  display: none;
}