.searchBar{
  position: absolute;
  top: 4.5%;
  left: 78%;
}

#inputName{
  border-radius: 2px;
  height: 25px;
  width: 200px;
  margin-top: 0px;
  padding-left: 5px;
  position: absolute;
  /* top: 2.5%; */
  right: 80%;
}

.buttonSearch {
  font-size: 15px;
  height: 31px;
  width: 70px;
  background-color: green;
  /* border-radius: 0.4vw; */
  color: aliceblue;
  position: absolute;
  top: 4.5%;
  left: 63%;
  cursor: pointer;
  transition-duration: 0.4s;
}

.buttonSearch:hover {
background-color: white;
color: black
/* border-radius: 0.4vw; */
/* border-color: black; */
}

.hide{
  display: none;
}